@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@400;500&family=Roboto&display=swap');

*{
  font-family: 'Poppins';
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  body{
    background:#A1EEBD;
    overflow: hidden;
    
  }
  
  .pages{
    color: #000;
    position:absolute;
    left:300px;
  }
  
  
  
  .Resultbox{
    background: #fff;
    width: 800px;
    height: 300px;
    margin-left:250px;
    padding: 20px;
    
  }
  
  .text{
    color: #000;
    padding-top: 20px;
  }
  
  .buttons{
    margin-top:20px;
    display: flex;
    justify-content:space-evenly;
  }
  
 .restart{
    height: 40px;
    width:120px;
    font-size:20px;
    border-radius: 4px;
    margin-top: 40px;
    border: none;
    background: #F6D6D6;
 }

 .toggle{
    position: absolute;
    right:40px;
    top:30px;
    height:40px;
    width: 100px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border-radius: 20px;
 }

 .light{
    position: absolute;
    right:40px;
    top:30px;
    height:40px;
    width: 100px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    display: none;
 }

 img{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 20px;
  left: 40px;

 }
  
  
  .main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 20px;   
    cursor: pointer;
    padding-left:40px;
  }

  .Btn{
    padding-top: 20px;
  }

  .option{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #7BD3EA;
    border-radius: 20px;
    height:40px;
    width: 400px;
  }
  
  .Quiz-page{
    height: 100vh;
  }
  
  .firstTwo{
    display: flex;
    justify-content: center;
  
  }
  
  .lastTwo{
    display: flex;
    justify-content: center;
  }
  
  .Q{
    color: #000;
  }
  
  .Qs{
    color: #000;
  }
  
  .Btn{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
    margin-top:40px;
  }
  
  .blankspace{
    width:950px;
    height:350px;
    background:#fff;
    padding:20px;
    margin-left: 150px;
    margin-top:100px;
   
    
  }

  .unhighlight{
    height: 40px;
    width:122px;
    font-size:20px;
    border-radius: 4px;
    border: none;
    background: #F6D6D6;
  }

  .highlight{
    height: 40px;
    width:120px;
    font-size:20px;
    border-radius: 4px;
    border: none;
    background: #F6D6D6;
  }
  
  .first{
    flex-direction: column;
  }
  
  .play{
    width:200px;
    height:40px;
    background:#80BCBD;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }